/* ----------------- Libraries
----------------------------------------------------------------------- */
@import "config/reset";
@import "config/variables";
/* ----------------- Helpers
----------------------------------------------------------------------- */
@import "helpers/mixins";
@import "helpers/helpers";
@import "helpers/ie";
/* ----------------- Base
----------------------------------------------------------------------- */
@import "base/layout";
@import "base/typography";
/* ----------------- Layout
----------------------------------------------------------------------- */
/* ----------------- Lib
----------------------------------------------------------------------- */
/* ----------------- Layout
----------------------------------------------------------------------- */
@import "layout/buttons";
@import "layout/forms";
@import "layout/icons";
/* ----------------- Partials
----------------------------------------------------------------------- */
@import "partials/footer";
@import "partials/header";
/* ----------------- scss main
----------------------------------------------------------------------- */

// mobes
.container-mobes {
  height: 100vh;
  .hero-container {
    height: calc(100vh - 216px);
    position: relative;
    background: url(../img/MOBES.png) no-repeat $white;
    background-position: left 30px bottom 0;
    
    // overflow: hidden;

    @include breakpoint (tablet) {
      background: none;
      height: calc(100vh - 105px);
    }

    @include breakpoint (mobile) {
      background: none;
    }
  
    .hero-content {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      position: relative;
      height: 721px;
      margin-bottom: 100px;

      @include breakpoint (tablet) {
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        height: 100%;
      }

      @include breakpoint (mobile) {
        max-width: 100%;
        margin: 0 auto;
        justify-content: center;
        height: 50vh;
      }
  
      .bg-left {
        height: 100%;
        flex: 0 0 38%;

        @include breakpoint (tablet) {
          display: none;
        }

        @include breakpoint (mobile) {
          display: none;
        }
      }
  
      .bg-right {
        height: 100%;
        flex: 0 0 62%;
        background: url(../img/hero.jpg) no-repeat $white;
        background-size: cover;

        @include breakpoint (tablet) {
          flex: 0 0 100%;
        }

        @include breakpoint (mobile) {
          flex: 0 0 100%;
          height: 100vh;
        }

      }
  
      .hero-text {
        position: absolute;
        display: flex;
        top: 159px;
        left: 0;

        @include breakpoint (tablet) {
          width: 100%;
          margin: auto;
          top: inherit;
          align-items: center;
          justify-content: center;          
        }

        @include breakpoint (mobile) {
          width: 100%;
          margin: auto;
          top: inherit;
          align-items: center;
          justify-content: center;          
        }

        .hero-text_content {
          display: flex;
          flex-direction: column;
          padding: 0;
          z-index: 3;

          @include breakpoint (tablet) {
            background: #dce4e1d4;
            padding: 5px;       
          }

          @include breakpoint (mobile) {
            background: #dce4e1d4;
            padding: 5px;       
          }
  
          h1 {
            font-size: 60px;
            font-weight: bolder;
            color: #303030;
            padding-bottom: 55px;
              
            @include breakpoint (tablet) {
              font-size: 45px;
            }
            @include breakpoint (mobile) {
              font-size: 30px;
            }
          }
        }
      }
  
      .hero-container_sigestion {
        position: absolute;
        width: 50%;
        background: $blue1;
        padding: 20px;
        bottom: 0;
        right: -945px;
        color: $white;
        display: flex;
        cursor: pointer;

        display: flex;
        cursor: pointer;
        flex-flow: row wrap;

        transition: all 0.3s ease-in-out;

        @include breakpoint (mobile) {
          overflow-x: auto;
          width: 100%;
          bottom: 0;
          left: 0;
          top: 0;
          color: $white;
          right: 0;
          transform: translate(-100%, 0);
        }

        .sugest-input-box {
          flex: 50%;
          padding: 10px 0;

          p {
            padding-bottom: 10px;
          }

          input.input-sugest {
            width: 95%;
            padding: 30px;
            border: none;
            outline: none;
          }
        }

        .sugest-input-box_coments {
          flex: 100%;
          textarea {
            width: 97%;
            border: none;
            outline: none;
          }
        }

        .sugest-left-btn {
          display: flex;
          justify-content: flex-end;
          align-items: center;
          width: 100%;
        }

        .hero-container_sugest {
          position: absolute;
          background: $blue1;
          top: 23%;
          left: -240px;
          transform: translateY(-50%) rotate(-90deg);
          padding: 20px 40px;
          transform-origin: bottom right;

          @include breakpoint (tablet) {
            display: none;
          }

          @include breakpoint (mobile) {
            display: none;
          }

          a {
            color: $white;
            letter-spacing: 1px;
            font-size: 18px;
            font-weight: bold;
          }
        }

        .mobile-view-hide {
          @include breakpoint (mobile) {
            display: none;
          }

          @include breakpoint (desktop) {
            display: block;
          }

          
        }

      }
      
      .hero-container_sigestion.active {
        right: 0;
        z-index: 50;
        
        @include breakpoint (tablet) {
          transform: translate(0%, 0%);
          height: 450px;
          overflow-y: scroll;
        }

        @include breakpoint (mobile) {
          transform: translate(0%, 0%);
        }
      }
      
      .mobile-view-hide {
        display: flex;
        padding: 10px;
        background: $blue1;
        text-align: center;
        justify-content: center;
        position: absolute;
        top: 0;
        right: 0;

        
        @include breakpoint (desktop) {
          display: none;
        }
        a {
          color: $white;
          cursor: pointer;
        }

      }

    }
  
  }

}

//////////////////
// standard
.container-standard {
  height: auto;
  position: relative;

  @include breakpoint (tablet) {
    max-width: 100%;
    margin: 0 auto;
  }

  @include breakpoint (mobile) {
    max-width: 100%;
    margin: 0 auto;
  }

  .standard-content {
    z-index: 5;
    height: 100%;
    background: url(../img/Standardi.png) no-repeat $white;
    background-position: top 25px left 360px;

    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;

    padding: 0 0 37px 0;

    @include breakpoint (tablet) {
      justify-content: center;
      flex-direction: column;
      align-items: center;
      background: none;
    }

    @include breakpoint (mobile) {
      align-items: center;
      background: none;
    }

    .standard-box_btn {
      flex: 15%;
      padding: 50px 10px 100px 10px;
      background-color: #f8f8f8;
      z-index: 8;
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      align-self: end;

      @include breakpoint (tablet) {
        flex: 100%;
        padding: 0;
        align-items: center;
        align-self: center;
      }

      @include breakpoint (mobile) {
        flex: 100%;
        padding: 0;
      }

      .standard-box_text {
        padding: 130px 0 0 68px;

        @include breakpoint (tablet) {
          display: flex;
          justify-content: center;
          align-items: center;
          flex-direction: column;
          padding: 10px;
        }

        @include breakpoint (mobile) {
          padding: 10px;
          text-align: center;
        }

        h2 {
          color: #303030;
          padding: 0 0 10px 0;
          font-size: 30px;
          font-weight: bold;
        }

        p {
          line-height: 1.5;
          padding: 0 0 47px 0;
          font-size: 18px;

          @include breakpoint (mobile) {
            text-align: center;
          }

        }
      }
    }

    .standard-box_flex {
      flex: 60%;
      margin: 0 120px 0 0;
      display: flex;
      flex-direction: column;
      padding: 268px 0 50px 0;
      z-index: 7;

      @include breakpoint (tablet) {
        flex: 100%;
        padding: 10px;
        margin: 0;
      }
      @include breakpoint (mobile) {
        flex: 100%;
        padding: 0;
        margin: 0;
      }

      .svg-slider-btn {
        align-self: flex-end;
        background-color: $blue1;
        padding: 25px 0;

        @include breakpoint (tablet) {
          align-self: center;
          order: 2;
        }
        @include breakpoint (mobile) {
          align-self: center;
          order: 2;
        }

      }


      #main-slider {
        z-index: 7;
        @include breakpoint (mobile) {
          margin: 0 0 10px;
        }

        .slides {
          li {
            position: relative;
            overflow: hidden;
            cursor: pointer;
            img {
              max-width: 100%;
              height: auto;
            }

            .slides-text_box {
              background-color: #f8f8f8;
              h2 {
                padding: 37px 0 0 50px;
                font-size: 18px;
                color: #454545;
                line-height: 1.5;
                font-weight: 700;
                text-transform: uppercase;

                @include breakpoint (mobile) {
                  padding: 10px;
                  font-size: 13px;
                }
              }
            }

            .slides-text_hover {
              position: absolute;
              top: 0;
              bottom: 88px;
              left: 0;
              right: 0;
              background-color: $blue1;
              opacity: 0.7;
              justify-content: center;
              align-items: center;

              transition: 0.3s all ease-in-out;
              display: none;

              @include breakpoint (mobile) {
                bottom: 0;
              }

              a {
                font-size: 18px;
                font-weight: bold;
                color: $white;
              }
            }
          }

          // hover
          li:hover > .slides-text_hover {
            display: flex;
          }
        }
      }
    }
  }
}

.container-standard:before {
  content: "";
  position: absolute;
  top: 200px;
  left: 0;
  width: 100%;
  height: 200px;
  background-color: #f8f8f8;
  z-index: 6;

  @include breakpoint (tablet) {
    display: none;
  }
  @include breakpoint (mobile) {
    display: none;
  }
}

////////////////////////
// about us
.container-aboutus {
  .aboutus-content {

    background: url(../img/Onama1.png) no-repeat $white;
    background-position: bottom left 50px;

    display: flex;
    justify-content: space-between;

    margin-bottom: 150px;
    padding-left: 30px;

    @include breakpoint (tablet) {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
      background: none;
      padding: 0 20px;
    }

    @include breakpoint (mobile) {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
      background: none;
      padding: 0 30px;
    }

    .about-us-box {
      flex: 1;

      img {
        max-width: 100%;
        height: auto;
      }
    }

    .about-us-box_right {
      padding: 50px 0 50px 0;

      @include breakpoint (tablet) {
        display: flex;
        justify-content: center;
      }

      @include breakpoint (mobile) {
        display: none;
      }
    }

    .about-us-box_left {
      display: flex;
      flex-direction: column;

      @include breakpoint (mobile) {
        order: 2;
        justify-content: flex-start;
        align-items: flex-start;
      }

      h2 {
        font-size: 25px;
        font-weight: bold;
        padding: 0 0 40px 0;
        color: #cacaca;
        text-transform: uppercase;

        @include breakpoint (mobile) {
          justify-content: center;
          align-items: center;
        }
      }

      p {
        line-height: 1.5;
        padding: 0 0 40px 0;
        font-size: 30px;
        color: #333;
        font-weight: 500;

        @include breakpoint (mobile) {
          text-align: start;
          padding: 10px;
        }
      }

      .about-us-text-box {
        display: flex;
        flex-flow: row wrap;
        align-items: center;
        justify-content: center;
        padding: 0 0 65px 0;

        @include breakpoint (mobile) {
          flex-flow: column;
          align-items: flex-start;
          justify-content: flex-start;
          width: 100%;
          padding: 0 0 15px 0;
        }

        .text-box {
          flex: 50%;

          display: flex;
          align-items: center;
          justify-content: flex-start;

          @include breakpoint (mobile) {
            flex: 100%;
            padding: 15px !important;
          }

          a {
            font-weight: bold;
            color: #303030;
            font-size: 25px;
            padding: 0 0 0 18px;
          }

          &:nth-child(odd) {
            padding: 15px 0 0 55px;

            @include breakpoint (mobile) {
              padding: 0;
            }
          }
        }

        .text-box.text-box_top {
          padding-top: 10px !important;

          @include breakpoint (mobile) {
            padding: 10px !important;
          }

        }

        .text-box.text-box_bottom {
          padding-top: 27px !important;

          @include breakpoint (mobile) {
            padding: 10px !important;
          }

        }

      }
    }
  }
}

/////////////////
// mision
.container-mision {

  background: url(../img/Misija.png) no-repeat $white;
  background-position: left 50px center;
  padding-bottom: 115px;

  @include breakpoint (mobile) {
    background: none;
  }
  .mision-content {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;
    padding: 100px 0;
    margin: 0 30px 0 262px;

    @include breakpoint (tablet) {
      margin: 0;
      padding: 0;
    }

    @include breakpoint (mobile) {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
      padding: 10px 0
    }

    .mision-box {
      flex: 40%;

      @include breakpoint (tablet) {
        flex: 50%;
        display: flex;
        order: 6;
      }

      @include breakpoint (mobile) {
        flex: 100%;
      }
      img {
        max-width: 100%;
        height: 660px;

        @include breakpoint (tablet) {
          max-width: 100%;
          height: 50vh;
        }

      }
    }

    .mision-box_right {
      flex: 60%;

      @include breakpoint (tablet) {
        flex: 50%;
        display: flex;
        order: 5;
      }

      @include breakpoint (mobile) {
        flex: 100%;
      }

      .mision-box_right--content {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        padding: 0 0 0 105px;

        @include breakpoint (tablet) {
          padding: 0;
        }

        @include breakpoint (mobile) {
          padding: 0;
        }

        .right-conten_box {
          flex: 1;
          flex-flow: row wrap;
          display: flex;
          align-items: center;
          padding: 3px 0 0 35px;

          .right-conten_box-text {
            padding: 0 0 0 25px;
            width: 50%;

            .border-left {
              margin: 0 0 52px 10px;
            }

            @include breakpoint (mobile) {
              width: 60%;
              padding: 0;
            }

            h2 {
              font-size: 25px;
              color: #c6c6c6;
              font-weight: bold;
              text-transform: uppercase;
              letter-spacing: 2px;
              padding: 0 0 38px 0;
            }
            h3 {
              color: $text;
              font-size: 30px;
              font-weight: bold;
              padding-bottom: 25px;
            }

            p {
              font-size: 18px;
              color: #333;
              padding-bottom: 60px;
            }
          
          }
        }
      }
    }
    
  }
}

////////////////
// klijenti
.container-client {
  background: url(../img/Klijenti.png) no-repeat #fff;
  background-position: left -20px top 205px;
  padding-bottom: 260px;

  @include breakpoint (tablet) {
    background: none;
    padding-bottom: 50px;
  }

  @include breakpoint (mobile) {
    background: none;
    padding-bottom: 50px;
  }

  .client-content {
    max-width: 1393px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    @include breakpoint (tablet) {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }

    @include breakpoint (mobile) {
      max-width: 100%;
      margin: 0 auto;
      flex-direction: column;
    }

    .client-content_left {
      flex: 1;

      @include breakpoint (tablet) {
        padding: 0 20px;
      }

      @include breakpoint (mobile) {
        flex: 100%;
      }

      .act-text {
        padding: 0 0 0 8px;

        @include breakpoint (tablet) {
          padding: 0 0 0 20px;
        }
        @include breakpoint (mobile) {
          padding: 0 0 0 35px;
        }

        .border-left {
          margin: 0 0 65px 0;
        }

        h2 {
          padding: 0 0 10px 0;
        }

        p {
          padding: 0 0 25px 0;
        }

      }

    }

    .client-content_right {
      flex: 2;
      padding: 67px 0 0 0;

      @include breakpoint (tablet) {
        padding: 0;
      }

      @include breakpoint (mobile) {
        flex: 100%;
        padding: 0 10px;
      }

    }
  }
}

////////////////
// tim 
.container-tim {

  background: url(../img/Tim.png) no-repeat $white;
  background: url(../img/Tim.png) no-repeat, linear-gradient(to left, $white 60%, #005ea3 40%);
  background-position: right 0 bottom;
 
  @include breakpoint (tablet) {
    background: none;
  }

  @include breakpoint (mobile) {
    background: none;
  }

  .tim-content {

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    max-width: 1393px;
    margin: auto;

    @include breakpoint (tablet) {
      flex-direction: column;
      max-width: 100%;
    }

    @include breakpoint (mobile) {
      flex-direction: column;
      max-width: 100%;
    }

    .tim-content_left {
      flex: 80%;
      background-color: $blue1;
      padding: 100px 25px 75px 45px;
      position: relative;

      @include breakpoint (tablet) {
        flex: 100%;
        padding: 100px 25px 75px 25px;
      }

      @include breakpoint (mobile) {
        flex: 100%;
        padding: 100px 0 25px 0;
      }

      // flexslider 3
      #third-slider {
        margin: 0;
        z-index: 10;

        .slides {
          li {
            position: relative;     
            overflow: hidden;
            background-color: $blue1;
            img {
              margin: 0 auto;
              max-width: 100%;
              height: 30vh;
              overflow: hidden;

              @include breakpoint (mobile) {
                height: auto;
              }
            }

            .tim-box-text {
              background-color: #f8f8f8;
              padding: 10px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;

              @include breakpoint (mobile) {
                justify-content: flex-start;
                align-items: flex-start;
              }

              h2 {
                color: #303030;
                font-size: 25px;
                font-weight: bold;
                padding-bottom: 10px;
              }

              h3 {
                color: #303030;
                font-size: 18px;
                padding-bottom: 10px;
              }
            }
          }
        }
      }

      &:after {
        content: "";
        position: absolute;
        top:0;
        right: 0;
        bottom: 0;
        background-color: $white;
        width: 175px;
        height: 100%;
        z-index: 5;

        @include breakpoint (tablet) {
          display: none;
        }

        @include breakpoint (mobile) {
          display: none;
        }
      }
    }

    .flex-container3 {
      position: absolute;
      top: 0;
      right: 75px;
      z-index: 15;
      background-color: #005ea3;
      width: 100px;
      height: 100px;
      display: flex;
      align-items: center;
      justify-content: center;
      border-left: 1px solid #fff;

      @include breakpoint (tablet) {
        right: 0;
        right: 20px;
        border-left: none;
      }
      
      @include breakpoint (mobile) {
        right: 0;
        border-left: none;
        width: 100%;
        display: flex;
      }
    }

    .tim-content_right {
      flex: 20%;
      display: flex;
      justify-content: center;
      padding: 80px 0 0 45px;


      @include breakpoint (tablet) {
        flex: 100%;
        padding: 25px 35px;
        justify-content: flex-start;
      }

      @include breakpoint (mobile) {
        flex: 100%;
        justify-content: flex-start;
        padding: 35px;
      }

      .act-text {
        .border-left {
          margin: 0 0 25px 0;
        }
        
        h2 {
          padding: 0 0 13px 0;
          letter-spacing: 1px;
        }

        p {
          padding: 0 0 22px 0;
        }

        .blue-btn {
          padding: 25px 49px
        }
      }
    }
  }
}



///////////////////
// act
.container-act {
  background: url(../img/Aktuelosti.png) no-repeat $white;
  background-position: left -20px top 205px;

  @include breakpoint (tablet) {
    background: none;
  }
  @include breakpoint (mobile) {
    background: none;
  }

  .act-content {
    max-width: 1393px;
    margin: auto;

    display: flex;
    justify-content: space-between;
    flex-flow: row wrap;

    padding: 50px 0 0 7px;

    @include breakpoint (tablet) {
      padding: 10px 5px 0 5px;
    }

    @include breakpoint (mobile) {
      flex-flow: column;
      max-width: 100%;
      margin: auto;
      padding: 10px 5px 0 5px;
    }

    .act-content_top {
      display: flex;
      justify-content: space-between;
      width: 100%;
      align-items: flex-end;
      padding-bottom: 33px;

      @include breakpoint (tablet) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      @include breakpoint (mobile) {
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
      }

      .act-text {
        color: #005ea3;

        @include breakpoint (tablet) {
          align-items: flex-start;
          padding: 35px;
        }

        @include breakpoint (mobile) {
          align-items: flex-start;
          padding: 35px;
        }

        h2 {
          font-size: 30px;
          font-weight: bold;
          padding: 0 0 20px 0;
          color: #303030;
        }

        p {
          font-size: 18px;
          color: #303030;
          padding: 0 0 40px 0;
          text-align: justify;
          line-height: 1.5;

          @include breakpoint (mobile) {
            text-align: center;
          }

        }

        .blue-btn {
          padding: 25px 75px;
          letter-spacing: 0;
        }
      }

      .svg-slider-btn {
        align-self: flex-end;
        background-color: $blue1;

        @include breakpoint (mobile) {
          order: 5;
          margin: 5px;
          align-self: center;

          display: flex;
          justify-content: center;
          align-items: center;

          width: 100%;
        }

      }
    }
  } 

}

#secondary-slider {

  max-width: 1393px;
  margin: 0px auto -20px auto;
  padding: 0 0 0 7px;

  @include breakpoint (tablet) {
    padding: 0 5px 0 7px;
  }

  @include breakpoint (mobile) {
    max-width: 100%;
    margin: auto;
  }

  .slides {
    li {
      position: relative;
      margin: 0 0 150px 0;
      transition: all 0.3s;
      cursor: pointer;
      overflow: hidden;

      @include breakpoint (mobile) {
        margin: 0 0 20px 0;
      }

      img {
        height: 50vh;
        max-height: 235px; /*maximum height for all slides*/
        width: 100%; /*proper aspect ratio of images*/
        max-width: 100%; /*maximum width for all slides*/

        @include breakpoint (mobile) {
          height: 25vh;
          max-height: 100%;
        }
      }

      .act-date-box {
        position: absolute;
        top: 0;
        left: 0;
        background-color: $blue1;
        padding: 25px;
        color: $white;
        text-align: center;
        z-index: 5;

        @include breakpoint (mobile) {
          padding: 5px;
        }

        h4 {
          font-size: 16px;
          font-weight: 400;
        }

        p {
          font-size: 30px;
          font-weight: bold;

          @include breakpoint (mobile) {
            font-size: 20px;
          }
        }
      }

      .act-capture-text {
        padding: 33px 0 20px 0;
        background: #fafafa;
        text-align: center;

        @include breakpoint (tablet) {
          padding: 20px;
          font-size: 11px;
          text-align: start;
        }

        @include breakpoint (mobile) {
          font-size: 11px;
          padding: 20px;
          text-align: start;
        }

        p {
          font-size: 18px;
          color: #303030;

          @include breakpoint (tablet) {
            font-size: 16px;
          }
  
          @include breakpoint (mobile) {
            font-size: 13px;
          }
        }
      }

      .act-hover-box {
        position: absolute;
        background: $blue1;
        opacity: 0.7;
        top: 0;
        right: 0;
        left: 0;
        bottom: 68px;
        align-items: center;
        justify-content: center;
        
        display: flex;
        transform: translate(-100%, -100%);


        @include breakpoint (mobile) {
          bottom: 0;
        }

        a {
          display: inline-block;
          font-size: 18px;
          font-weight: bold;
          color: #fff;
        }
      }
    }

    li:hover > .act-hover-box {
      transform: translate(0%, 0%);
    }

    li:last-child {
      margin-right: 0 !important;
    }
  }
}



//////////////////////
// ponuda
.container-offer {
  .offer-content {
    height: 100%;
    background: url(../img/globe.png) no-repeat $blue1;
    background-position: right 100px center;

    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 80px 0;

    z-index: 50;
    position: relative;

    @include breakpoint (tablet) {
      justify-content: center;
      align-items: center;
      padding: 100px 0;
      flex-direction: column;
    }

    @include breakpoint (mobile) {
      justify-content: center;
      align-items: center;
      padding: 100px 0;
      flex-direction: column;
    }

    h2 {
      color: $white;
      font-size: 30px;
      font-weight: bold;
      padding: 0 0 5px 40px;

      @include breakpoint (tablet) {
        padding: 10px 0 10px 0;
      }

      @include breakpoint (mobile) {
        padding: 20px 0 20px 0;
      }

    }

    .blue-btn {
      padding: 25px 50px;
      border: 1px solid $white;
      margin: 0 160px 0 0;

      @include breakpoint (tablet) {
        margin: 0;
      }

      @include breakpoint (mobile) {
        width: 50%;
        margin: 0;
      }
    }
  }
}

//////////////////
// contact
section.container-contact {
  .contact-content {
    background-color: #eee;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 70px 0 35px 0;

    @include breakpoint (tablet) {
      justify-content: flex-start;
      padding: 25px;
    }

    @include breakpoint (mobile) {
      justify-content: flex-start;
      padding: 25px;
    }

    .content-box {
      flex: 0 0 calc(25% - 20px);
      margin: 5px;
   
      display: flex;
      flex-flow: row wrap;
      
      @include breakpoint (tablet) {
        flex: 0 0 calc(33.333% - 20px);
        background-color: #fff;
        padding: 5px;
      }

      @include breakpoint (mobile) {
        flex: 0 0 calc(50% - 20px);
        flex-flow: initial;
        background-color: #fff;
        padding: 5px;
      }

      .content-box_map {
        flex: 0 0 calc(50% - 20px);
        margin: 5px;

        &:last-child {
          padding: 50px 0 0 0;

          @include breakpoint (tablet) {
            padding: 0;
          }

          @include breakpoint (mobile) {
            padding: 0;
          }
        }
      
      @include breakpoint (mobile) {
        flex: 100%;
      }

        .nav-menu {
          h2 {
            font-size: 25px;
            font-weight: bold;
            letter-spacing: 1px;
            padding: 3px 0 20px 7px;
          }

          li {
            a {
              display: block;
              padding: 5px 0 14px 0;
            }
          }
        }

      }


      ul {
        h2 {
          font-size: 25px;
          font-weight: bold;
          letter-spacing: 1px;
          padding: 3px 0 20px 7px;
        }
        li {
          display: flex;
          a {
            display: block;
            padding: 5px 0 14px 0;
            font-size: 16px;
            color: #333;
            
          }

          p {
            display: flex;
            align-items: center;
            a {
              font-size: 16px;
              color: $blue1;
              text-decoration: underline;
            }
          } 
        }
      }
    }

    .content-box_plus {
      justify-content: center;
      flex: 2;
      flex-direction: column;
      align-items: center;

      @include breakpoint (tablet) {
        flex: 33.333%;
        background-color: #fff;
        padding: 5px;
      }

      @include breakpoint (mobile) {
        align-items: center;
        width: 100%;
        background-color: #fff;
        padding: 5px;
      }

      .box-plus_position {
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: flex-start;
        width: 43%;
        padding: 0 0 60px 0;

        @include breakpoint (mobile) {
          width: 100%;
          padding: 0 0 60px 0;
        }

        a {
          display: inline-block;
          padding: 10px 0 28px 0;
          img {
            max-width: 100%;
            height: auto;
          }
        }
  
        .justify-text {
          width: 80%;
          line-height: 1.3;
          color: $text;
          font-size: 18px;
          padding: 0 0 15px 0;
        }
  
        .social-menu {
          display: flex;
          li {
            a {
              display: inline-block;
              padding: 5px;
            }
          }
        }
      }
    }
  }
}

// overwrith flexslider
.flex-control-nav.flex-control-paging,
.flex-direction-nav {
  display: none;
}

.flexslider {
  border: none;
}
