/* ----------------- layout 
----------------------------------------------------------------------- */
:root {
  --color-primary: #fff;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

*,
**::before,
**::after {
  box-sizing: border-box;
}

html {
  box-sizing: border-box;
}

body {
  width: 100%;
  background-color: #000;
  background-color: var(--color-primary);
  font-weight: 400;
  font-family: 'Montserrat', sans-serif;
  line-height: 1;
}

.wrapper {
  max-width: 1860px;
  margin: 0 auto;
}

.wrapper-small {
  max-width: 1626px;
  margin: 0 30px 0 235px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
    color: #000;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #000;
}
:-ms-input-placeholder { /* IE 10+ */
  color: #000;
}
:-moz-placeholder { /* Firefox 18- */
  color: #000;
}
