/* ----------------- header
----------------------------------------------------------------------- */

.header {
  background-color: #fff;
  padding: 5px 0;

  .header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include breakpoint (mobile) {
      flex-direction: column;
    }
  
    .header-logo {
      flex: 1;    
      display: flex;
      align-self: stretch;
      align-items: center;
      padding: 5px 0 0 36px;

      @include breakpoint (mobile) {
        justify-content: center;
      }
    }
  
    nav.nav {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      flex: 3;
      align-self: stretch;

      @include breakpoint (desktop) {
        justify-content: flex-start;
        align-items: center;
        flex: 1;
      }

      @include breakpoint (mobile) {
        justify-content: space-between;
        flex: 100%;
        padding: 5px;
      }
  
      form.nav-search {
        display: flex;
        align-items: center;
        flex: 1;
        justify-content: flex-end;
        padding: 0 170px 0 0;

        @include breakpoint (desktop) {
          justify-content: flex-start;
          padding: 0;
        }

        @include breakpoint (mobile) {
          flex: 1;
          justify-content: flex-start;
          padding: 0;
        }
  
        input[type="text"] {
          width: 10%;
          border: none;
          outline: none;
          padding: 5px 0 0 20px;
          font-size: 18px;
          letter-spacing: 1px;

          @include breakpoint (desktop) {
            width: 80%;
            padding: 5px;
            border-bottom: 2px solid #000;
          }

          @include breakpoint (tablet) {
            width: 60%;
            border-bottom: 2px solid #000;
            padding: 5px;
          }

          @include breakpoint (mobile) {
            width: 50%;
            border-bottom: 2px solid #000;
            padding: 5px;
          }
        }
  
        .nav-search_icon {
          padding: 5px;
          border: none;
          outline: none;
          background: none;
        }
      }
  
      .nav-burger {
        display: flex;
        flex: 0;
        justify-content: flex-end;
        align-items: center;

        @include breakpoint (desktop) {
          flex: 1;
        }
  
        a {
          text-decoration: none;
          font-size: 18px;
          text-transform: uppercase;
          font-weight: 700;
          color: #000;
        }
  
        .nav-burger_icon {
          padding: 10px 15px 10px 33px;
          
          a {
            display: flex;
            justify-content: center;
            align-items: center;
            transition: 0.3s ease-in-out;
            padding: 10px;

            &:hover {
              background-color: rgba(0, 94, 163, 0.4);
              border-radius: 50%;
            }
          }
        }
      }
    } 
  }

}

///////////////
// menu
///////////////  
.nav-burger_menu {
  width: 25%;
  position: fixed;
  z-index: 25;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: $blue1;
  opacity: 0.9;
  padding: 10px;
  display: none;
  flex-direction: column;
  transition: 0.3s all ease-in-out;

  @include breakpoint (desktop) {
    width: 40%;
    overflow-y: auto;
  }

  @include breakpoint (tablet) {
    width: 50%;
    overflow-y: auto;
  }

  @include breakpoint (mobile) {
    width: 100%;
    overflow-y: auto;
  }

  .nav-menu_close {
    display: flex;
    justify-content: flex-end;
    padding: 10px;
    margin: 5px 33px 0 0;
    cursor: pointer;

    @include breakpoint (mobile) {
      padding: 0;
      margin: 0;
    }

    a {
      display: flex;
      align-items: center;
      justify-content: center;
      padding: 10px;
      background-color: $blue1;
      transition: 0.3s ease-in-out;
      img {
        max-width: 100%;
        height: auto;
      }
    }
    a:hover {
      border-radius: 50%;
      background-color: rgba(255, 87, 34, 0.79);

    }
  }

  ul.nav-menu {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 50px 0 50px 0;

    li {
      a {
        display: inline-block;
        padding: 10px 0 30px 0;
        color: #fff;
        font-size: 18px;
        font-weight: bold;
      }
    }
  }

  .nav-menu_btn {
    display: flex;
    justify-content: center;

    .blue-btn {
      border: 1px solid #fff;
    }

  }

  .nav-btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    border: 1px solid #fff;
    color: #fff;
    transition: 0.3s ease-in-out;

    &:hover {
      padding: 15px;
      font-weight: 700;
    }
  
  }

  ul.social-menu {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 0 0 0;

    a {
      display: inline-block;
      padding: 5px;
    }
  }


}

.nav-burger_menu.active {
  display: flex;
}